<!-- Example row of columns -->
<div flow-init
        flow-drop
        flow-files-submitted="$flow.upload()"
        flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]">
    <div class="row">
        <div class="col-md-12">
            
            <div  class="gallery-box col-md-4">
                <div class="thumbnail" ng-show="true">
                  <img src="img/pele-mele-80x120.jpg" />
                </div>
                <!-- <span class="title text-center text-capitalize"></span> -->
                  
                  
                  <div class="btn-group text-center center-block">
                    <a class="btn btn-xs btn-info" ng-click="">
                      creer pele-mele-80x120
                    </a>
                  </div>
                </div>
        </div>
    </div>
    
    <br>
    
    <div class="row">
        <div class="col-md-3 bottom">
            <div class="drop" ng-class="dropClass">
                <span class="btn btn-default" flow-btn>Upload Image</span>
                <span class="btn btn-default" flow-btn flow-directory ng-show="$flow.supportDirectory">Upload Folder</span>
                <b>OR</b>
                Drag And Drop your images here
            </div>
        </div>
        <div class="col-md-10">
            <div>
                <div ng-repeat="file in $flow.files" class="gallery-box col-md-3">
                  <span class="title">{{file.name}}</span>
                  <div class="thumbnail" ng-show="$flow.files.length">
                    <img flow-img="file" />
                  </div>
                  <div class="progress progress-striped" ng-class="{active: file.isUploading()}">
                    <div class="progress-bar" role="progressbar"
                         aria-valuenow="{{file.progress() * 100}}"
                         aria-valuemin="0"
                         aria-valuemax="100"
                         ng-style="{width: (file.progress() * 100) + '%'}">
                      <span class="sr-only">{{file.progress()}}% Complete</span>
                    </div>
                  </div>
                  <div class="btn-group">
                    <a class="btn btn-xs btn-danger" ng-click="file.cancel()">
                      Remove
                    </a>
                  </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    
</div>

<script src='js/controller/PelemeleController.js'></script>