<body>
    <div class="page-content">
    <div class="row">
        <div class ="col-lg-12">
             <div class="col-lg-12">

            <div class="col-md-12">
                                    <div id="area-chart-spline" style="width: 100%; height: 300px; display: none;">
                                    </div>
                                </div>

            <div class="panel panel-grey">
                                            <div class="panel-heading">
                                                Fiche d'enregistrement</div>
                                            <div class="panel-body pan">
                                                <form action="#">
                                                <div class="form-body pal">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <div class="input-icon">
                                                                    <i class="fa fa-user"></i>
                                                                    <input id="valnature" type="text" placeholder="Nature des travaux" class="form-control" /></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <div class="input-icon">
                                                                    <i class="fa fa-user"></i>
                                                                    <input id="valtech" type="text" placeholder="Nom technicien" class="form-control" /></div>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                   
                                                   
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <div class="input-icon">
                                                                    <i class="fa fa-user"></i>
                                                                    <input id="site" type="text" placeholder="Site" class="form-control" /></div>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                   
                                                    
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <input id="vac1" type="text" placeholder="Contact1" class="form-control" />
                                                        </div>
                                                        <div class="col-md-4">
                                                            <input id="vac2" type="text" placeholder="Contact2" class="form-control" />
                                                        </div>
                                                        <div class="col-md-4">
                                                            <input id="vac3" type="text" placeholder="Contact3" class="form-control" />
                                                        </div>
                                                          
                                                    </div>
                                                    <hr />
                                                    
                                                    
                                                    
                                                    <div class="form-group">
                                                        
                                                        <textarea rows="5" placeholder="Description" id="valdesc" class="form-control"></textarea></div>
                                                  
                                                    <div class="form-group">
                                                        <textarea rows="5" placeholder="Observations" id="valobserv" class="form-control"></textarea></div>
                                                    <hr />
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <div class="input-icon">
                                                                    <i class="fa fa-user"></i>
                                                                    <input id="critic" type="text" placeholder="Criticite" class="form-control" /></div>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                    
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group mbn">
                                                                <label class="pts">
                                                                    Beginning date</label></div>
                                                        </div>
                                                        
                                                        <div class="col-md-5">
                                                            <div class="form-group mbn">
                                                                <input id="beginningDate" type="text" placeholder="Year" class="form-control" /></div>
                                                        </div>
                                                        
                                                        <div class="col-md-4">
                                                            <div class="form-group mbn">
                                                                <label class="pts">
                                                                    Expiration date</label></div>
                                                        </div>
                                                        
                                                        <div class="col-md-5">
                                                            <div class="form-group mbn">
                                                                <input id="expirationDate"  type="text" placeholder="Year" class="form-control" /></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-actions text-right pal">
                                                    <button id="btsubmit" type="submit" class="btn btn-primary">
                                                        Continue</button>
                                                    <button type="reset" id="btreset" class="btn btn-primary">
                                                        Cancel</button>
                                                </div>
                                                </form>
                                            </div>
                                        </div>
        </div>
            </div>
    </div>
        <script type="text/javascript">
                
        </script>
        <script src='js/controller/RegisterdemandeController.js'></script>
 

