﻿  
      <div class="page-content">
            <div class="row">
        
           
    <div class="col-lg-12">
        <div class="col-md-12">
                                    <div id="area-chart-spline" style="width: 100%; height: 300px; display: none;">
                                    </div>
                                </div>
                                       
                                        
                                        <div class="panel panel-grey">
                                            <div class="panel-heading">
                                                Fiche de Validation</div>
                                            <div class="panel-body pan">
                                                <form action="#" name="form2">
                                                <div class="form-body pal">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <div class="input-icon" >
                                                                    <i class="fa fa-user"></i>
                                                                    <input id="iddem" type="text" name="output" class="form-control" placeholder="Codedem" /></div>
                                                            <!--<INPUT TYPE="text" NAME="output" VALUE=""> Zone de texte de sortie -->

                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <div class="input-icon">
                                                                    <i class="fa fa-user"></i>
                                                                    <input id="iduse" type="text" placeholder="CodeUser" class="form-control" /></div>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                    
                                                    <hr />
                                                    <div class="row">
                                                    <!-- div copiee-->
                                                    <div class="col-lg-6">    
                                                    <div class="form-group">
                                                        <div class="radio" >
                                                            <label class="radio-inline">
                                                                <input id="Radio1" type="radio" name="optionsRadios" value="accordee" checked="checked" />&nbsp;
                                                                Validation

                                                            </label>
                                                            <label class="radio-inline">
                                                                    <input id="Radio2" type="radio"
                                                                    name="optionsRadios1" value="rejette" />&nbsp; 
                                                                Refus

                                                            </label>

                                                        </div>
                                                    </div>
                                                        <!--fin div copiee -->
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="form-group">
                                                        <textarea rows="5" id="motif" placeholder="Additional info" class="form-control"></textarea></div>
                                                    <hr />
                                                    
                                                    <div class="form-group">
                                                           
                                                    
                                                </div>
                                                <div class="form-actions text-right pal">
                                                    <button type="button" id="btnSubmit" class="btn btn-primary">
                                                        Continue</button>
                                                    <button type="button" id="btnCancel" class="btn btn-primary">
                                                        Cancel</button>
                                                </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
            
        </div>


    </div>
                </div>


    </div>


</asp:Content>

