
    <div class="page-content" ng-init="init()">
     <div class="row">
        <div class ="col-lg-12">
           
    
        <div class="col-md-12">
                                    <div id="area-chart-spline" style="width: 100%; height: 300px; display: none;">
                                    </div>
                                </div>
                                       
                                        
                                        <div class="panel panel-orange">
                                            <div class="panel-heading">
                                                Registration form</div>
                                            <div class="panel-body pan">
                                                <form action="#">
                                                <div class="form-body pal">
                                                                                                    
                                                    
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <input id="idnom" type="text" placeholder="Nom" ng-model="pres.name" class="form-control" /></div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <input id="idpren" type="text" placeholder="Prenom" ng-model="pres.prename" class="form-control" /></div>
                                                        </div>
                                                    </div>
                                                    <hr />
                                                    
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <input id="idsoc" type="text" placeholder="Societe" class="form-control" /></div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <input id="idtel" type="text" placeholder="Contact" class="form-control" /></div>
                                                        </div>
                                                        </div>
                                                    <hr />
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <input id="idlog" type="text" placeholder="Login" class="form-control" /></div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <input id="idpass" type="text" placeholder="Password" class="form-control" /></div>
                                                        </div>
                                                    </div>
                                                    <hr />
                                                     <div class="form-group">
                                                        <div class="input-icon right">
                                                            <i class="fa fa-envelope"></i>
                                                            <input id="idmail" type="text" placeholder="Email address" class="form-control" /></div>
                                                    </div>
                                                    <hr />
                                                    
                                                   
                                                    <div class="form-group mbn">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input tabindex="5" type="checkbox" />&nbsp; I agree with the Terms and Conditions</label></div>
                                                    </div>
                                                </div>
                                                <div class="form-actions text-right pal">
                                                    <button type="button" id="btncancel" class="btn btn-primary">
                                                        Cancel</button>
                                                    <button type="button" id="btsubmit" ng-click="" class="btn btn-primary">
                                                        Submit</button>
                                                </div>
                                                </form>
                                            </div>
                                        </div>
            
                                    
            
        </div>


    </div>
    </div>

<script src='js/controller/RegisterpresController.js'></script>
 

   
    
    

    

