
<div class="page-content" ng-init="init()"> 
            <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-12">
                                <div class="col-md-12">
                                    <div id="area-chart-spline" style="width: 100%; height: 300px; display: none;">
                                    </div>
                                </div>
           
    
        
                        <div class="panel panel-yellow">
                            <div class="panel-heading">Liste demande du prestataire</div>
                            <div class="panel-body">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>Num</th>
                                        <th>Societe</th>
                                        <th>Nom</th>
                                        <th>Prenom</th>
                                        <th>Naturedem</th>
                                        <th>Datedebut</th>
                                        <th>Datefin</th>
                                    </tr>
                                    </thead>
                        <tbody>
                            <tr ng-repeat=" prest in Pres">
                                
                            <td>{{$index+1}}</td>
                            <td>{{prest.societepres}}</td>
                            <td>{{prest.nompres}}</td>
                            <td>{{prest.prenpres}}</td>
                            <td>{{prest.naturedem}}</td>
                            <td>{{prest.datedebut}}</td>
                            <td>{{prest.datefin}}</td>
                            
                        </tr>
                        </tbody>
                                </table>
                            </div>
                        </div>
    
        </div>
         </div>
    </div> 
</div>
        
        
        <script src='js/controller/PrestatairelisteController.js'></script>
    
    

    


