
    <div class="page-content" ng-init="init()"> 
            <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-12">
                                <div class="col-md-12">
                                    <div id="area-chart-spline" style="width: 100%; height: 300px; display: none;">
                                    </div>
                                </div>
           
    
        
                        <div class="panel panel-yellow">
                            <div class="panel-heading">Reponse</div>
                            <div class="panel-body">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>Num</th>
                                        <th>Societe</th>
                                        <th>Nom</th>
                                        <th>Nature</th>
                                        <th>Validation</th>
                                        <th>Refus</th>
                                    </tr>
                                    </thead>
                                    
                                    <tbody >
                                    <tr ng-repeat=" rep in Reponses">
                                        
                                        <td>{{$index+1}}</td>
                                        <td>{{rep.societepres}}</td>
                                        <td>{{rep.nompres}}</td>
                                        <td>{{rep.naturedem}}</td>
                                        <td>{{rep.validationrep}}</td>
                                        <td>{{rep.refusrep}}</td>
                                    </tr>
                                    
                                    </tbody>
                                </table>
                            </div>
                        </div>
    
        </div>
         </div>
    </div>  
    </div>
        
        <script src='js/controller/ValidationController.js'></script>
    
    

    


