
<div class="page-content" ng-init="init()"> 
            <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-12">
                                <div class="col-md-12">
                                    <div id="area-chart-spline" style="width: 100%; height: 300px; display: none;">
                                    </div>
                                </div>
           
    
        
                        <div class="panel panel-yellow">
                            <div class="panel-heading">Liste demande</div>
                            <div class="panel-body">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>Num</th>
                                        <th>Societe</th>
                                        <th>Nom</th>
                                        <th>Nature</th>
                                        <th>Impact</th>
                                        <th>etat1</th>
                                        <th>etat2</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                            <tr ng-repeat=" pres in Prestataires">
                                <td>{{$index+1}}</td>
                                <td>{{pres.societepres}}</td>
                                <td>{{pres.nompres}}</td>
                                <td>{{pres.naturedem}}</td>
                                <td>{{pres.criticite}}</td>
                                <td><a href="#valide">clickreponse</a></td>
                                <td><a href="#details.html">clickdem</a></td>
                            
                        </tr>
                        </tbody>
                                </table>
                            </div>
                        </div>
    
        </div>
         </div>
    </div> 
</div>
        
        
        <script src='js/controller/DemandelistepresController.js'></script>
    
    

    


