
<body>
    <div class="page-content">
    
            <div class="row" >
                <div class="col-lg-4">

                </div>
                <div class="col-lg-6">
                                        <div class="panel panel-yellow">
                                            <div class="panel-heading">
                                                Login Form</div>
                                            <div class="panel-body pan">
                                                <form action="#" class="form-horizontal">
                                                <div class="form-body pal">
                                                    <div class="form-group">
                                                        <label for="inputName" class="col-md-3 control-label" id="">
                                                            Login</label>
                                                        <div class="col-md-9">
                                                            <div class="input-icon right">
                                                                <i class="fa fa-user"></i>
                                                                <input id="login" type="text" placeholder="" class="form-control" /></div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="inputPassword" class="col-md-3 control-label">
                                                            Password</label>
                                                        <div class="col-md-9">
                                                            <div class="input-icon right">
                                                                <i class="fa fa-lock"></i>
                                                                <input id="password" type="password"  placeholder="" class="form-control" /></div>
                                                            <span class="help-block mbn"><a href="#"><small>Forgot password?</small> </a></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="inputPassword" class="col-md-3 control-label">
                                                            Fonction</label>
                                                    <div class="col-md-9">    
                                                        <select class="input-icon right" >
                                                            
                                                            <option value="0">Consultant</option>
                                                            <option value="1">Superadmin</option>
                                                            <option value="3">Admin</option>
                                                            <option value="4">Chef</option>
                                                            <option value="5">Assistant</option>
                                                        </select>
                                                        </div >
                                                    </div>
                                                    <div class="form-group mbn">
                                                        <div class="col-md-offset-3 col-md-6">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input tabindex="5" type="checkbox" />&nbsp; Keep me logged in</label></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-actions pal">
                                                    <div class="form-group mbn">
                                                        <div class="col-md-offset-3 col-md-6">
                                                            
                                                            <button type="button" id="btnlogin"  class="btn btn-primary">
                                                                Login</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                </form>
                                            </div>
                                        </div>
                </div>
    </div>
    
<script src='js/controller/ConnexionController.js'></script>
    

